<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <div>
        <a href="/maps"><img class="footer-logo" src="/images/mapper_white.png"/></a>
      </div>


        <div class="social-icons">
          <a class="fb-ic"><i class="fab fa-facebook-f"> </i></a>
          <a class="tw-ic"><i class="fab fa-twitter"> </i></a>
          <a class="insta-ic"><i class="fab fa-instagram"> </i></a>
        </div>
      </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright: Mapper, Inc.
  </div>

</footer>
<!-- Footer -->
