<%- include partials/_head.ejs%>

    <main>
      <br>
      <h2>Public maps for your area:</h2>
      <div class="browse-maps">
        <% for (const map of JSON.parse(dbData)) {%>
          <div class="map-article">
            <div>
          <h3><%= map.title %></h3>
          <p><%= map.description %></p>
        </div>
          <a class="view btn btn-outline-dark my-2 my-sm-0" type="submit" href="/maps/<%=map.id%>"><button>View</button></a>      </div>
        <% }%>

      </div>
    </main>
  </body>
</html>
