<%- include partials/_head.ejs%>


  <main>

    <div id="map">
    </div>

    <form id='new-map-form'>
      <div class="form-group">
        <label for="formGroupExampleInput">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" name='title'>

      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='description'></textarea>
      </div>

      <div class="form-group" id='map-center-select'>
        <label for="map-center-select">Default Map Center</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="maps-center-option" name='map-center' value='map' checked>
          <label class="form-check-label" for="exampleRadios1">
            Map's center on submit
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="exampleRadios2" name='map-center' value='user'>
          <label class="form-check-label" for="exampleRadios2">
            User's location
          </label>
        </div>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="public-check" value="true" name='public'>
        <label class="form-check-label" for="public-check">Public</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="collaborative-check" value="true" name='collaborative'>
        <label class="form-check-label" for="collaborative-check">Collaborative</label>
      </div>

      <div class="form-group" id='collaborators-form'>
        <label for="collaborators-input">collaborators</label>
        <div class="add-collaborator">
          <input type='email' class="form-control" id="collaborators-input" rows="3"></input>
          <div id='add-collaborator-btn' class="btn btn-primary">add</div>
        </div>
        <ul id='collaborators-list' class="list-group">
        </ul>
      </div>


      <button id='submit-map-btn' type='submit' class='btn btn-primary'>Submit</button>


    </form>

  </main>

 <script>
  const dbData = <%- dbResults %>;
  const mapData = dbData['map_data'];
  const pinData = dbData['pin_data'];
  const collaboratorData = dbData['collaborator_data'];
  const mapId = <%- mapId %>;
 </script>
 <script src='/scripts/edit_map.js'></script>
  <script src="/scripts/network.js"></script>
  <script src="/scripts/PinMap.js"></script>
  <script src="/scripts/Pin.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
  async defer></script>
</body>
</html>
