.browse-header {
  display: flex;
  background-image: url('/images/stock_map.png');
  height: 150px;
  width: 100vw;
  text-align: center;
  color: rgb(73, 73, 73);
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.browse-maps {
  display: flex;
  flex-direction: column;
}

.map-article {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: thin solid black;
  border-radius: 3px;
  padding:20px;
  margin: 10px;
}

.view {
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 10px;
  width: 70px;
}

.map-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
