// .collaborator-list-item-container, .add-collaborator{
//   display: flex;
//   input {
//     flex-grow: 1;
//     border-radius: 5px 0 0 5px;
//   }
//   .btn{
//     border-radius: 0 5px 5px 0;
//   }
// }

.add-collaborator{
  display: flex;
  input {
    flex-grow: 1;
    border-radius: 5px 0 0 5px;
  }
  .btn{
    border-radius: 0 5px 5px 0;
  }
}

#submit-map-btn{
  margin-top: 10px;
  display: block;
}

.add-collaborator{
  margin-bottom: 20px;
}

.collaborator-list-item-container{
  padding: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 1em;
}

.list-group-item{
  flex-grow: 1;
  padding: 0 10px;
}

@media only screen and (min-width: 1000px){
  .pins{
    margin: 0;
    margin-top: 70vh;
    min-height: 35vh;
    margin-top: 500px;
  }
  body{
    height: 100vh;
  }
  main{
    margin-left: 10px;
  }
  .pins-display{
    margin-bottom: 5px;
    width: 45vw;
    padding: 5px;
    border: thin solid black;
  border-radius: 7px;
  }
  .page-footer{
    position: fixed;
    bottom: 0;
    // height: 50px;
  }
  #new-map-form{
    width: 49vw;
    display: flex;
    flex-direction: column;
    top: 100px;
    margin: 0;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    z-index: 1;
    padding-top: 10px;
  }
}
