.page-footer {
 color: white;
 margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
