// See: https://sass-lang.com/

body {
  background-color: #eee a;
}

.nav-logo {
  height: 100px;
  width: 100px;
}

#map {
  display: flex;
  justify-content: right;
  height: 60%;
  width: 60%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
