// See: https://sass-lang.com/

body {
  background-color: white;
}

#map {
  display: flex;
  justify-content: right;
  height: 95vw;
  width: 95vw;
  margin:auto;
  border: medium solid #4d4f50;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
