$nav-height: 10vh;
$buttons-height: 10vh;
@media only screen and (min-width: 1000px){

  // header {
  //   position: fixed;
  //   top:0;
  //   z-index: 1;
  // }

  // html {
  //   height: 100%;
  // }

  // body {
  //   height: 100%;
  //   position: relative;
  //   overflow: auto
  // }



  .map-display{
    top:100px;
    position: absolute;
    z-index: 1;
    width: 50vw;
    background-color: white;
  }

  // #new-map-form{
  //   height: 300px;
  //   width: 50vw;
  //   background-color: white;
  //   padding: 1em;
  //   margin-top: 11em;
  //   display: flex;
  //   flex-direction: column;
  //   top: 180px;
  //   justify-content: space-around;
  //   z-index: 2;
  // }

  #edit-form {
    background-color: white;
    z-index: 1;
  }

  .map-header{
    width: 100vw;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .map-title, .favourite{
    display: inline-block;
  }
  .map-description{
    padding: 0;
  }
  .favourite{
    right: 50px;
    position: fixed;
  }
  .right-align-center{
    position: fixed;
    right: 0;
    top: 100px;
  }
  #delete-pin{
    float:right;
  }
  nav {
    height: 100px !important;
    width: 100vw !important;
    z-index: 1;
    margin: 0;
  }

  #map{
    width: 100%;
    height: 100%;
  }
  .map-container{
    height: 100vh;
    top: 99px;
    width: 50vw;
    position:fixed;
    right:0;
  }
  .map-info{
    grid-row: 2;
    grid-column: 1;
  }
  // .pins {
  //   width: 50vw;
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 17vh;
  //   margin-bottom: 10vh;
  //   min-height: 70vh;

  // }
  // .page-footer{
  //   position: absolute;
  //   width: 100vw;
  //   bottom: 0;

  // }
  // .map-footer{
  //   margin: 0;
  // }
}

// layout for mobile
@media only screen and (max-width: 480px){

  .map-buttons {
    flex-direction: column;
    justify-content: center;
  }

}
