

.map-display {
  display: flex;
  flex-direction: column;
}

.map-title {
  font-size: 30px;
}

#map {
  border: medium solid #4d4f50;
  height: 100vw;
  width: 95vw;
  margin: auto;
}

.map-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.map-description {
 font-size: 20px;
 padding-left: 1em;
}

.pins-display {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: thin solid black;
  border-radius: 7px;
  padding:20px;
  margin: 10px;
}

.pin-image {
  height: 150px;
  width: 150px;
}

img {
  width: 100%;
  height: auto;
}
#infowindow-imageUrl {
 width: 150px;
 height: 150px;

}


.favourite {
  font-size: 35px;
  padding-right: 1em;
  padding-left: 1em;
  color: rgb(48, 48, 48);
}

.like {
  color: red;
}

.right-align-center {
  display: flex;
  flex-direction: row;
}

