.map-display {
  display: flex;
  flex-direction: column;
}

.map-title {
  font-size: 26px;
}

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 01em;
}

.map-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 3vw;
}

.map-description {
 font-size: 20px;
 margin-right: 10px;
}

.pins {
  position: relative;
  padding-top: 10px;
}

.pins-display {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: thin solid black;
  border-radius: 7px;
  padding:20px;
  margin: 10px;
}

.pin-image {
  height: 150px;
  width: 150px;
  margin-left: 10px;
}

img {
  width: 100%;
  height: auto;
}
#infowindow-imageUrl {
 width: 150px;
 height: 150px;

}

.favourite {
  font-size: 35px;
  padding-right: 0.5em;
  color: rgb(48, 48, 48)
}

.like {
  color: red;
}

.right-align-center {
  display: flex;
  flex-direction: row;
}

#infowindow-imageUrl {
  display: relative;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
}

#infowindow-title {
  padding: 10px;
}

#infowindow-description {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

@media only screen and (min-width: 1000px){


  .pins {
    width: 47vw;
    margin: .75em;
    margin-top: 12em
  }
  .view.btn {
    position: relative;
    right: 51vw;
    top: 16px;
  }
  .favourite {
    position: relative;
    right: 56vw;

  }
  .page-footer {
    position: absolute;
    bottom:0;
  }

}
